.prev, .next, .button_2, .button_3 {
    width: 100px;
    height: 50px;
    background-color: #ce96ea;
    border: none;
    margin-left: 2px;
    font-weight: bolder;
}

.button_2, .button_3 {
    margin-top: 5px;
}

#age, #input_1, .price {
    margin-top: 20px;
}

#input_1, #input_2, #input_3 {
    width: 250px;
}

.bold {
    font-weight: bold;
}

.invisible {
    display: none;
}

.cell {
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgba(241, 231, 245, 0.48);
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
}